.img {
  margin-left: auto;
  margin-right: auto;
  width: 6em;
}
h1,
h3,
p,
li,
a {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
}
body {
  background-color: black;

  /* nao deixa a pessoa selecionar o conteudo da pagina */
}

.fita {
  font-size: 15px;
  font-family: Arial;
  border-width: 1px;
  color: #fff;
  border-color: #d02718;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  text-shadow: inset 0px 1px 0px #810e05;
  background: linear-gradient(#f24537, #c62d1f);
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
